:root {
    --black: #000000;
    --hover-blue: #B9E7FA;
    --hover-gray: #696969;
}

* {
    font-family: 'Inconsolata', monospace;
}

.--font-size-scale-small{
    font-size: 17px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-areas:
        ". navbar ."
        ". content ."
        ". footer ."
    ;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) { grid-template-columns: 1fr 10fr 1fr; }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) { grid-template-columns: 1fr 8fr 1fr; }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) { grid-template-columns: 1fr 5fr 1fr; }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) { grid-template-columns: 1fr 2fr 1fr; }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) { grid-template-columns: 1fr 2fr 1fr; }

}

nav {
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--black);
}

nav ul li a:hover {
    color: var(--hover-gray);
}

.toggle-button {
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 2px;
    width: 100%;
    background-color: var(--black);
    border-radius: 20px;
}

.nav-links-responsive {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    text-align: right;
    line-height: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .nav-left{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .toggle-button { display: flex; }
    
    .nav-links { display: none; }
}

@media only screen and (min-width: 600px) {
    .toggle-button { display: none; }
    .nav-links { display: inline; }
}

footer {
    grid-area: footer;
    padding-top: 20px;
}

.content {
    grid-area: content;
}

.profile {
    text-align: center;
    padding-bottom: 20px;
}

.profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.posts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.posts ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2px;
}

.posts ul li:hover {
    background-color: var(--hover-blue);
}

.posts ul li a {
    text-decoration: none;
    color: var(--black);
}

.footer a{
    color: #33B8EE;
    text-decoration: none;
}

.footer a:hover{
    color: #696969;
}