*{
    font-family: 'EB Garamond', serif;
    font-family: 'Inconsolata', monospace;
}

.container{
    margin-left: 25%;
    margin-right: 25%;
}

.header-container{
    padding-top: 20px;
    font-size: 17px;
    padding-bottom: 20px;
}

.header-container ul{
    margin-left: 0;
    padding: 0;
    list-style-type: none;
}

.header-container ul li{
    display: inline;
}

.header-container ul li a{
    text-decoration: none;
}

.profile-container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.profile-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
}

.profile-container h2{
    font-size: 17px;
    font-weight: 600;
}

.profile-container h3{
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
}

.post-list-container h2{
    font-size: 17px;
    font-weight: 600;
}

.post-list-container .posts-list{
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.post-list-container .posts-list li{
    padding-bottom: 10px;
    list-style-type: none;
}

.post-wrapper .post-content h1{
    font-weight: 600;
}

.post-wrapper .post-content .post-tags{
    padding-top: 20px;
}

.footer{
    padding-top: 20px;
    font-size: 14px;
}

.footer a{
    text-decoration: none;
}