---
layout: page
---
<div class="resume-container">
    <link rel="stylesheet" href="/assets/resume-style.css">
    <hr></hr>
    <div class="resume-header-container">
        <div class="resume-header-left">
            <h1>{{ site.author.name }}</h1>
            <h2>{{ site.data.job_title }}</h2>
        </div>
        <div class="resume-header-right">
            <ul>
                <li><a href="{{ site.author.email }}">{{ site.author.email }}</a></li>
                <li><a href="{{ site.author.website }}">{{ site.author.website }}</a></li>
                <li><a href="{{ site.author.github }}">{{ site.author.github }}</a></li>
            </ul>
        </div>
    </div>
    <hr></hr>
    <div class="resume-skills-container">
        <div class="resume-skills-left">
            <h3>Skills</h3>
        </div>
        <div class="resume-skills-right">
            <div class="skill1">
                <h4 class="skill-name">{{ site.data.skills.skill1.name }}</h4>
                <p class="skill-description">{{ site.data.skills.skill1.description }}</p>
            </div>
            <div class="skill2">
                <h4 class="skill-name">{{ site.data.skills.skill2.name }}</h4>
                <p class="skill-description">{{ site.data.skills.skill2.description }}</p>
            </div>
            <div class="skill3">
                <h4 class="skill-name">{{ site.data.skills.skill3.name }}</h4>
                <p class="skill-description">{{ site.data.skills.skill3.description }}</p>
            </div>
        </div>
    </div>
    <hr></hr>
    <hr></hr>
</div>
